<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
<%= form_for @article do |f| %>
  Title: <%= f.text_field :title %>
  Body: <%= f.text_field :text %>
  <%= f.submit %>
<% end %>
