<!DOCTYPE html>
<html>
  <body>
    <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
    <% end %>
    <article class="article_show">
      <div class="article_show_image_section">
        <img src="<%= @article.image %>" width="150px" onerror="this.onerror=null; this.src='https://farm5.staticflickr.com/4363/36346283311_1dec5bb2c2.jpg'">
        <div class="article_show_name_votes">
          <p><%= @user.name %></p>
          <p><%= @article.votes.count %> <%= multiple_votes? %></p>
        </div>
        <div class="article_show_vote_save">
          <p><%= vote %></p>
          <p><%= save_article_show %></p>
        </div>
      </div>
      <div class="article_show_text">
        <h1><%= @article.title %></h1>
        <p><%= @article.text %></p>
      </div>
      <div class="author_options">
        <p class="article_show_categories">
          <% @article.categories.each do |category| %>
            • <%= link_to category.name, category_path(id: category.id) %>
          <% end %>
        </p>
        <% if session[:current_user_id] == @article.author.id %>
          <div class="modify_article">
            <p><%= edit_article %></p>
            <p><%= delete_article %></p>
          </div>
            <p>Add a category:</p>
            <p class="add_category">
              <% @category.each do |c| %>
              | <%= add_category(c) %>
              <% end %>
            </p>
          </div>
        <% end %>
    </article>
  </body>
</html>
