    <% flash.each do |type, msg| %>
      <div class="flash_message">
        <%= msg %>
      </div>
    <% end %>
    <div class="category_show_section columns is-multiline is-7">
      <% @categories.category_prior.each do |category| %>
        <article class="category_show column is-one-third">
          <a href="<%= category_path(id: category.id) %>">
            <div class="category_show_titles">
              <h2><%= category.name %></h2>
              <p><%= latest_category_article_title(category) %></p>
            </div>
            <div class="category_show_img_author">
              <img src="<%= latest_category_article_image(category) %>" onerror="this.onerror=null; this.src='https://farm5.staticflickr.com/4363/36346283311_1dec5bb2c2.jpg'">
              <p><%= latest_category_article_name(category) %></p>
            </div>
          </a>
        </article>
      <% end %>
    </div>
