<body>
  <h1><%= @category.name %></h1>
  <% @category.articles.order("created_at").reverse_order.each do |article| %>
    <h2><%= link_to article.title, article_path(id: article.id) %></h2>
    <h3><%= User.find_by_id(article.author_id).name %></h3>
    <img src="<%= article.image %>" alt="" width="150px">
    <p><%= article.votes.count %> <%= category_votes(article) %></p>
    <p><%= category_article_vote(article) %></p>
  <% end %>
</body>
