<!DOCTYPE html>
<html>
  <head>
    <title>Game articles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <body>
    <nav class="columns">
      <div class="column">
        <p>Company logo</p>
      </div>
      <div class="column">
        <div class="columns">
          <div class="column nav_main_paths">
            <%= generate_link('HOME', root_path) %>
            <%= generate_link('ARTICLES', articles_path) %>
            <%= generate_link('CATEGORIES', categories_path) %>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="columns nav_user_paths">
          <% unless session[:current_user_id].nil? %>
            <div class="column">
              <%= generate_link('PROFILE', user_path(id: session[:current_user_id])) %>
              <%= generate_link('FAVORITES', saved_articles_index_path(id: session[:current_user_id])) %>
              <%= generate_link('NEW ARTICLE', new_article_path) %>
              <%= link_to 'LOGOUT', delete_session_path, method: :delete %>
            </div>
          <% end %>
          <% if session[:current_user_id].nil? %>
            <div class="column">
                <%= generate_link('LOGIN', new_session_path) %>
                <p>|</p>
                <%= generate_link('REGISTER', new_user_path) %>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
