<!DOCTYPE html>
<html>
  <head>
    <title>Game articles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="columns">
      <div class="column is-one-quarter">
        <p>Company logo</p>
      </div>
      <div class="column">
        <div class="columns">
          <div class="column nav_main_paths">
            <%= generate_link(('HOME'), root_path) %>
            <%= generate_link('ARTICLES', articles_path) %>
            <%= generate_link('CATEGORIES', categories_path) %>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="columns nav_user_paths">
          <%= generate_links_user_logged %>
          <%= generate_link_no_user %>
        </div>
      </div>
    </nav>
    <%= yield %>
    <footer>
      <h1 class="">Company logo</h1>
      <div class="columns rights">
        <ul class="">
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Policy</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
        <p class="">Copyright 2014. All rights reserved.</p>
      </div>
      <div class="contact">
        <p>Connect with us:</p>
        <a href="#"><%= fa_icon "twitter" %></a>
        <a href="#"><%= fa_icon "instagram" %></a>
        <a href="#"><%= fa_icon "facebook" %></a>
      </div>
    </footer>
  </body>
</html>
